<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>京东</title>
    <link rel="stylesheet" href="css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body class="sort">
<!--    导航条-->
    <nav>
       <ul class="clearfix text-center">
            <li><a href="index.html"><i class="fa fa-home"></i><span>首页</span></a></li>
            <li class="active"><a href="sort.html"><i class="fa fa-list"></i><span>分类</span></a></li>
            <li><a href="xunmi.html"><i class="fa fa-clock-o"><i class="hot"></i></i><span>觅me</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i><span>购物车</span></a></li>
            <li><a href="#"><i class="fa fa-user-o"></i><span>我的</span></a></li>
        </ul>
    </nav>
<!--    导航条-->
   <div class="search clearfix text-center">
        <div class="left">
            <span><img class="hui" src="img/sotr/header/biao.jpg" alt=""></span>
        </div>
        <div class="center">
           <i class="fa fa-search"></i>
            <input type="text" placeholder="华为荣耀8">
        </div>
        <div class="right">
            <span><img class="dian" src="img/sotr/header/dian.jpg" alt=""></span>
        </div>
    </div>
<!--   热门推荐-->
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <ul>
                        <li class="xian">
                            热门推荐
                        </li>
                        <li>
                            手机数码
                        </li>
                        <li>
                            家用电器
                        </li>
                        <li>
                            电脑办公
                        </li>
                        <li>
                            计生情趣
                        </li>
                        <li>
                            美妆护肤
                        </li>
                        <li>
                            个护清洁
                        </li>
                        <li>
                            汽车用品
                        </li>
                        <li>
                            京东超市
                        </li>
                        <li>
                            男装
                        </li>
                        <li>
                            男鞋
                        </li>
                        <li>
                            女装
                        </li>
                        <li>
                            女鞋
                        </li>
                        <li>
                            母婴童装
                        </li>
                        <li>
                            运动户外
                        </li>
                        <li>
                            内衣配饰
                        </li>
                        <li>
                            食品生鲜
                        </li>
                        <li>
                            家具家装
                        </li>
                        <li>
                            箱包手袋
                        </li>
                        <li>
                            钟表珠宝
                        </li>
                        <li>
                            图书音像
                        </li>
                        <li>
                            医药保健
                        </li>
                    </ul>
                </div>
                <div class="col-xs-9" id="nei">
                   <div class="nei" v-for="list in lists">
                        <img :src="list.img" alt="">
                        <div v-for="biaoti in list.biaotis">
                           <h5>{{biaoti.h5}}</h5>
                           <div class="row text-center">
                                <div class="col-xs-4" v-for="ars in biaoti.arss">
                                   <a :href="ars.link">
                                        <img :src="ars.img" alt="">
                                        <p>{{ars.name}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!--   热门推荐-->
    <div class="fanhui">
        <img class="dingbu" src="" alt="">
    </div>
    <div id="tui"></div>
    <div class="sousuo"></div>
    <script src="js/swiper-4.2.6.min.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/jing.js"></script>
</body>
</html>